/* 1,2 */
/*
*{margin: 0; padding: 0;}
.btn{padding: 10px 0; background: yellowgreen; border: none; outline: 0; width: 500px; margin-top: 20px; display: block; margin: 10px auto;}
span{text-align: center; display: block; font-size: 5rem;}
input{display: block; padding: 5px 10px; margin: 10px auto; width: 500px;} */

/* 3 */

*{margin: 0; padding: 0;}

.listWrapArea{width: 100%; height: 80vh; display: flex; align-items: center; justify-content: center;}
.listWrap{width: 500px; height: 500px; background: #fff; box-shadow: 0 5px 10px rgba(108, 108, 108, 0.2); border-radius: 20px; padding: 20px;}
h1{text-align: center; color: rgb(71, 71, 71);}
.movie{border: 3px solid #ddd; border-radius: 10px; padding: 15px 10px; display: flex; align-items: center; margin-bottom: 5px;}
.movie-title{flex-grow: 1;}
.movie-year{font-size: 12px; color: rgb(255, 160, 176);}
input{width: 100%; padding: 10px 20px; box-sizing: border-box; margin-bottom: 5px; border-radius: 5px; border: 1px solid rgb(255, 160, 176);}
.btn{width: 100%; padding: 15px 0; background: rgb(255, 160, 176); border: none; outline: 0; margin-bottom: 20px; color: #fff; border-radius: 5px;}
.d-btn{padding: 5px 20px; background: rgb(255, 160, 176); color: #fff; border: none; outline: none; border-radius: 5px;}
.err{font-size: 10px; color: rgb(255, 160, 176); margin-bottom: 5px;}

.navWrap{
    width: 100%;
    height: 100%;
    background: pink;
}
.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    align-items: center;
    padding: 0 20px;
    height: 80px;
}
.navbar .logo{margin-top: 0;  }
.navbar .logo a{text-decoration: none; width: 180px; height: 50px; background: url(../public/images/logo.png) no-repeat left center;background-size: contain; padding-right: 200px; display: block;}
.navbar .logo a span{position: relative; top:7px}
.navbar .navbar-nav{display: flex;} 
.navbar .navbar-nav li{list-style: none; margin: 0 20px;}
.navbar .navbar-nav li a{color: rgb(112, 112, 112); text-decoration: none; font-weight: bold;}

.footer{width: 100%; height: auto; background: #333; position: fixed; bottom: 0; right: 0;}
.innerFooter{color: #fff; padding: 30px 0; width: 100%; max-width: 1200px; margin: 0 auto; display: flex; justify-content: space-between;}
.innerFooter ul{display: flex;}
.innerFooter ul li{margin: 0 10px;}


.container{width: 1200px; height: inherit; background: #fff; margin: 50px auto; text-align: center;}
.title1{font-size: 1.5rem;}
.title2{font-size: 4rem; font-weight: bold;}
.title3{color: #464646;}
.home-img{width: 900px; height: 500px; margin: 30px auto 100px; background: url(https://cdn.pixabay.com/photo/2016/06/03/12/42/popcorn-1433327_960_720.jpg) no-repeat center center; border-radius: 20px; box-shadow: 0 7px 10px #b6b6b6; position: relative; z-index: 1;}
.home-img:hover:before{
    content: "";
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000;
    border-radius: 20px;
}
.home-img a{position: absolute; z-index: 10; top: 50%; left: 50%; transform: translate(-50%,-50%); color: #fff; text-decoration: none; font-size: 50px; font-weight: bold; display: inline-block; opacity: 0;}
.home-img:hover a{opacity: 1;}
#section1{width: 100%; height: 300px; background: #ddd; margin-bottom: 5px;}
#section2{width: 100%; height: 200px; background: #ccc;}

.card{border: 1px solid #ddd; padding: 30px 20px; margin-bottom: 5px; border-radius: 5px;}

@media screen and (max-width: 1200px){
    .container{width: 100%; padding: 0 30px;}
}

/* 4 */
/* *{margin: 0; padding: 0; line-height: 1; box-sizing: border-box;}
#root{margin: 20px auto; padding: 0 50px;}
.state{font-size: 30px; text-align: center;}
.btn{width: 100%; padding: 10px 0; background: yellowgreen; color: #fff; margin-top: 20px; border: none; outline: 0;} */

/* 5 */
/* *{margin:0; padding:0; line-height: 1; box-sizing: border-box;}
#root{ margin: 20px auto; padding: 0 50px}
input{width: 100%; padding: 10px 20px; border: 1px solid #ddd}
button{width: 100%; padding: 10px 0; background: rgb(230, 135, 135); color: #fff; margin-top: 20px; border: none; outline: none;} */

